# Pantheon commits a settings.php for environment-specific settings.
# Place local settings in settings.local.php
/settings.local.php

# Avoid accidental modification of pantheon.upstream.yml in sites
# created from this upstream.
pantheon.upstream.yml

# Ignore paths that contain user-generated content.
/files
/private
sites/*/files
sites/*/private
