$black:#000;
$white:#fff;
$cugold: #cfb87c;
$blue: #0277BD;
$blue-medium:#4FC3F7;
$blue-light:#E1F5FE;

$gold-light:lighten($cugold, 25%);

$gray-dark:#424242;
$gray-light:#F5F5F5;


$red:#B71C1C;
$green:#2E7D32;
$amber:#FFD740;
$green-light:#DCEDC8;
$yellow:#FFF9C4;
$red-light:#FFEBEE;


$border:#e0e0e0;
